$spacing-12: 12px;
$bc-g1: #c4170c;
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@700&family=Outfit:wght@300&display=swap");

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #f9f9f9;
}
header {
    box-sizing: border-box;
    .dropdownBackground {
        width: 23rem;
        height: 310px;
        position: absolute;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15),
            0 5px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s, opacity 0.5s, transform 0.2s;
        transform-origin: 50% 0;
        display: flex;
        justify-content: center;
        left: 80%;
        top: 14.5%;
        opacity: 0;
        @media screen and (max-width: 375px), (max-height: 667px) {
            left: 7%;
            top: 44%;
        }
        @media screen and (max-width: 414px), (max-height: 896px) {
            top: 34%;
            left: 7%;
        }
        .arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            display: block;
            background: white;
            transform: translateY(-50%) rotate(45deg);
        }
        .decoration {
            display: block;
            position: fixed;
            right: 16px;
            width: 19%;
            margin: 0;
            color: #686161df;
            .one {
                top: 251px;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 374px;
                    left: 5%;
                    width: 23rem;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    top: 44%;
                    left: 7%;
                    width: 89%;
                }
            }
            .two {
                top: 392px;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 542px;
                    left: 5%;
                    width: 23rem;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    top: 60%;
                    left: 7%;
                    width: 89%;
                }
            }
            img {
                display: block;
                position: fixed;
                top: 16%;
                right: 15%;
                width: 75px;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 39%;
                    right: 75%;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    top: 34%;
                    left: 8%;
                }
            }
            i {
                display: block;
                left: 92.5%;
                top: 24.5%;
                width: fit-content;
                color: #686161df;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 51%;
                    left: 64%;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    top: 44.5%;
                    left: 66%;
                }
            }
        }
        .insideOL {
            ol {
                display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    padding: $spacing-12 11px;
                    font-family: "Afacad", sans-serif;
                    font-size: 23px;
                    a {
                        text-decoration: none;
                    }
                    a:hover {
                        position: relative;
                        top: 15%;
                        border-bottom: 5px solid;
                        border-radius: 2px;
                    }
                }
            }
        }
        .highlights {
            display: block;
            position: fixed;
            width: 16.5%;
            margin: 0;
            color: #686161df;
            h2 {
                display: block;
                bottom: 79%;
                width: fit-content;
                left: 86%;
                color: #000000;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 43%;
                    left: 30%;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    top: 37%;
                    left: 30%;
                }
            }
            a {
                display: block;
                font-size: 20px;
                left: 97rem;
                color: #060606df !important;
                width: fit-content;
            }
            .searchGlobo {
                top: 400px;
                left: 81%;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 547px;
                    left: 8%;
                }
            }
            .searchWeb {
                top: 427px;
                left: 81%;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    top: 570px;
                    left: 8%;
                }
            }
        }
        .suggestions {
            list-style: none;
            position: fixed;
            top: 26.5%;
            left: 81%;
            color: black;
            font-size: 20px;
            width: 338px;
            height: 110px;
            @media screen and (max-width: 375px), (max-height: 667px) {
                top: 53%;
                left: 8%;
            }
            @media screen and (max-width: 414px), (max-height: 896px) {
                top: 46%;
                left: 9%;
            }
        }
    }
    .dropdownBackground.open {
        opacity: 1;
    }
    .barra_navegacao {
        background-color: #ffff;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: $spacing-12 11px;
                font-family: "Afacad", sans-serif;
                font-size: 23px;
                a {
                    text-decoration: none;
                }
                a:hover {
                    position: relative;
                    top: 15%;
                    border-bottom: 5px solid;
                    border-radius: 2px;
                }
            }
        }
        @media screen and (max-width: 375px), (max-height: 667px) {
            display: none;
        }
        @media screen and (max-width: 414px), (max-height: 896px) {
            overflow-y: scroll;
        }
    }
    .logo_g1 {
        margin: 0;
        height: 126px;
        background: $bc-g1;
        color: $bc-g1;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 375px), (max-height: 667px) {
            height: 200px;
            width: 416px;
        }
        @media screen and (max-width: 414px), (max-height: 896px) {
        }
        a {
            text-decoration: none;
            color: #ffff;
            h1 {
                font-family: "Afacad", sans-serif;
                font-size: 70px;
                margin: 0;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    display: block;
                    position: relative;
                    left: 145%;
                }
                @media screen and (max-width: 414px), (max-height: 896px) {
                    position: fixed;
                    left: 170px;
                    top: 98px;
                }
            }
        }
        fieldset {
            transition: all 0.5s;
            background: #00000026;
            border-style: none;
            display: flex;
            align-items: center;
            position: relative;
            left: 44rem;
            @media screen and (max-width: 375px), (max-height: 667px) {
                right: 100px;
                top: 10rem;
                left: auto;
                background: #00000033;
            }
            @media screen and (max-width: 414px), (max-height: 896px) {
                position: relative;
                left: 12px;
                top: 118px;
            }
            border-radius: 3px;
            input {
                transition: all 0.5s;
                width: 100%;
                height: 30px;
                margin-left: 5px;
                background: #00000000;
                font-family: "Afacad", sans-serif;
                border-style: none;
                font-size: 17px;
                color: #000000;
                @media screen and (max-width: 375px), (max-height: 667px) {
                    position: relative;
                    left: 30px;
                }
            }
        }
    }
}
.click_input {
    transition: all 0.5s;
    border-radius: 5px;
    background: white !important;
    @media screen and (max-width: 375px), (max-height: 667px) {
        position: relative;
        left: 30px;
        background: #0000000f !important;
    }
    @media screen and (max-width: 414px), (max-height: 896px) {
        position: relative;
        left: 12px;
        top: 118px;
    }
    input {
        display: flex !important;
        width: 190px !important;
        transition: all 0.5s;
        color: #000000;
    }
    path {
        fill: #00000040 !important;
    }
}
.selected {
    background-color: #ccc !important;
    width: fit-content;
}
